.autorentalWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100%;
  flex-direction: column;
  margin-top: 20vh;
  position: relative;
}

.spanCol {
  color: #ef3f25;
}

.autorentalWrapper .back {
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../../../public/images/hero.png");
  background-position: center;
  background-repeat: repeat;
  width: 100vw;
  height: 150vh;
  z-index: -1;
  overflow: hidden;
}

.autorentalTitle {
  width: 50vw;
  height: 50vh;
  color: white;
  font-size: 5.5vh;
  align-self: flex-start;
  margin: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carlistingWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.carlistingWrapper .item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: rgb(209, 209, 209);
  width: 90vw;
  height: 45vh;
  margin-bottom: 5vh;
  z-index: 998;
  position: relative;
  border-radius: 5px;
}

.item .circle {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #ef3f25;
  border-radius: 50%;
  top: -20px;
  right: -20px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.item .imgContainer {
  display: flex;
  width: 30%;
  height: 90%;
  position: relative;
}

.item img {
  object-fit: contain;
  width: 100% !important;
  height: 100% !important;
}

.item .carDetails {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 60%;
  margin-left: 3vw;
  height: 80%;
}

.item .carDetails .carMainDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 45%;
}
.item .carDetails .carSecondaryDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 45%;
}


.item .carDetails .carMainDetails p {
  margin: 0;
  font-size: 2.7vh;
  font-weight: bold;
}

.item .carDetails .carMainDetails .carYear {
  margin: 0;
  margin-bottom: 10px;
  font-size: 3.2vh;
}

.item .carPrice {
  font-size: 3.2vh;
  margin: 0;
  margin-bottom: 15px;
  font-weight: bold;
}

.item .carDetails .carMainDetails .CabrioletY{
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .autorentalWrapper .back {
    height: 100%;
  }

  .autorentalTitle {
    width: 90vw;
    font-size: 20px;
    margin-bottom: 10vh;
  }

  .carlistingWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 3 columns */
    height: 100%; /* 150 viewport height */
    gap: 5vw; /* Gap between grid items */
    margin-bottom: 10vh;
  }

  .item .carDetails {
    margin-bottom: 10px;
  }
}
