:root {
  --red-col: #ef3f25;
  --red-col-disabled: #ab2f1c;
}

body {
  background-color: black;
  overflow-x: hidden;
  margin: 0;
  font-family: Helvetica;
  user-select: none;
}
html {
  overflow-x: hidden;
}

/* SCROLLBAR */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d8cdc0;
}

::-webkit-scrollbar {
  z-index: 9999;
  width: 6px;
  height: 6px;
  background-color: #d8cdc0;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/*BUTTON */
.magic-button {
  height: 40px;
  border: none;
  border-radius: 80px;
  display: inline-flex; /* Use inline-flex to size according to content */
  justify-content: flex-end;
  align-items: center;

  cursor: pointer;
  transition: 0.3s ease-in-out;
  padding-left: 20px;
}

.magic-button:hover {
  transform: scale(1.1);
}

.magic-button.red {
  background-color: var(--red-col);
  color: white;
}

.magic-button.white {
  background-color: #d8d8d8;
  color: black;
  margin-left: 20px;
}

.magic-button img {
  margin-left: 20px;
}

/* HEADER */

.header-wrapper {
  z-index: 999;
  width: 100%;
  height: 10vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vh;
}

.header-wrapper .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  margin-left: 20px;
  position: relative;
}

.logo img {
  cursor: pointer;
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.header-wrapper .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 25%;
  margin-right: 2vw;
}

.header-wrapper .hamburger-menu {
  display: none;
}

.navigation a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.navigation a:hover {
  color: var(--red-col);
}

/*LANDING PAGE*/

.landing-wrapper {
  position: relative;
  height: 100%;
  background-color: black;
  width: 100vw;
}

/* HERO */

.hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("../../public/images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-wrapper .hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.hero-right .car-image-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.car-image-hero img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.hero-wrapper .hero-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 50vw;
  margin-left: 40px;
}

.hero-wrapper .hero-title h1 {
  color: white;
  font-size: 55px;

  margin: 0;
  margin-bottom: 20px;
}

.hero-wrapper .hero-title p {
  color: white;
  margin: 0;
  margin-bottom: 20px;
}

.hero-wrapper .hero-title .button-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

/* Landing Catalogue */

.landing-wrapper .catalogue-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.catalogue-wrapper .catalogue-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../public/images/backshape.png");
  width: 90vw;
  height: calc(90vw * 615 / 1630);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  flex-direction: row;
}

.catalogue-wrapper .catalogue-container .row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: calc(90vw * 615 / 1630);
}

.catalogue-wrapper .catalogue-container .row.one {
  width: 22.5vw;
}
.catalogue-wrapper .catalogue-container .row.two {
  width: 45vw;
}
.catalogue-wrapper .catalogue-container .row.three {
  width: 22.5vw;
}

.car-image-container {
  width: 100%;
  position: relative;
}

.row.one .car-image-container.one {
  top: -12%;
}
.row.two .car-image-container.two {
  top: 0;
}
.row.three .car-image-container.three {
  bottom: -30%;
}

.car-image-container img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.catalogue-container .car-text {
  position: absolute;

  font-size: 20px;
}

.catalogue-container .car-text.one {
  left: 4%;
  top: 0;
}

.catalogue-container .car-text.two {
  left: -47%;
  bottom: 0%;
  color: white;
}

.catalogue-container .car-text.three {
  left: 4%;
  top: 0;
}

.catalogue-container .arrow {
  position: absolute;

  font-size: 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  right: 3%;
  top: 2%;
}

.catalogue-container .arrow:hover {
  transform: scale(1.1);
}

/*About us*/

.aboutus-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../../public/images/must.png");
  width: 100vw;
  height: calc(100vw * 1080 / 1920);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.aboutus-wrapper .right-side-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 40vw;
  height: 100%;
  color: white;

  flex-direction: column;
  margin-right: 5vw;
}

.aboutus-wrapper .right-side-text h2 {
  font-size: 60px;
  margin: 0;
}

.aboutus-wrapper .right-side-text h3 {
  margin: 0;
}

/*Footer*/

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60vh;
  background-color: rgb(25, 25, 25);
  flex-direction: row;
  border: 2px solid rgba(99, 99, 99, 0.4);
}

.footer-wrapper .footer-col {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  flex-direction: column;
  padding-left: 30px;
}

.footer-wrapper .footer-col .col-mid-section {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: rgb(213, 213, 213);
  text-transform: uppercase;
  padding-top: 10vh;
}

.footer-wrapper .footer-col .col-mid-section li {
  padding-top: 20px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.footer-wrapper .footer-col .col-mid-section li:hover {
  padding-left: 20px;
}

.footer-wrapper .footer-col h2 {
  color: grey;
  padding-top: 20px;
  font-size: 20px;
}

.footer-wrapper .footer-col.one {
  width: 25%;
  border-right: 2px solid rgba(99, 99, 99, 0.4);
  color: white;
  align-items: flex-start;
}
.footer-wrapper .footer-col.two {
  width: 20%;
}
.footer-wrapper .footer-col.three {
  width: 20%;
}
.footer-wrapper .footer-col.four {
  width: 35%;
}

.footer-wrapper .footer-col.one .footer-image-container {
  width: 60%;
  margin-top: 15px;
  position: relative;
}
.footer-image-container img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.footer-wrapper .footer-col.one p {
  width: 90%;
  color: rgb(156, 156, 156);
}

/*FOOTER*/
.leaflet-container.leaflet-touch.leaflet-retina.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
  height: 60vh;
  width: 60vh;
}

/* AUTOIMPORT PAGE */

.autoimport-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.autoimport-wrapper .autoimport-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  width: calc(75vw + 60px);
  font-size: 50px;
}

.autoimport-wrapper .carousel-wrapper {
  display: flex;
  width: 90vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: row;
}
.carousel-wrapper .carousel {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  color: white;
  width: calc(75vw + 60px);
}

.cards-container {
  display: flex;
  transition: transform 0.5s ease;
}

.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 25vw;
  height: 50vh; /* Adjust the height as needed */
  border-radius: 10px;
  background-color: #080808;
  color: white;
  margin: 10px; /* Add some margin for spacing between cards */
  transition: 0.3s ease-in-out;
  flex-direction: column;
}
.card svg {
  height: 20px;
  width: 20px;
}

.card span:nth-child(1) {
  margin-left: 5px;
}
.card span:nth-child(2) {
  margin-left: 5px;
}
.card p {
  margin-left: 10px;
}

.card img {
  object-fit: contain;
  width: 80% !important;
  position: relative !important;
  height: unset !important;
  margin-left: 30px;
}

.card.active {
  background-color: #111111;
}

.carousel-wrapper .carrousel-arrow {
  cursor: pointer;
  fill: var(--red-col-disabled);
  transition: 0.3s ease-in-out;
}

.carousel-wrapper .carrousel-arrow:hover {
  fill: var(--red-col);
}
.carousel-wrapper .carrousel-arrow:nth-child(1) {
  margin-right: 20px;
}
.carousel-wrapper .carrousel-arrow:nth-child(3) {
  transform: rotate(180deg);
  margin-left: 20px;
}

/*Meida query */

@media (max-width: 768px) {
  /*HEADER*/

  .header-wrapper {
    padding-top: 0;
    height: 15vh;
  }

  .header-wrapper .hamburger-menu {
    display: flex;
  }

  .hamburger-menu .hamburger-icon {
    display: flex;
    z-index: 150;
    margin-right: 20px;
  }

  .hamburger-menu .hamburger-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100svh;
    position: absolute;
    left: -100vw;
    top: 0;
    background-color: black;
    transition: 0.5s ease-in-out;
    z-index: 100;
  }

  .hamburger-menu .hamburger-nav.active {
    left: 0;
  }

  .hamburger-menu .hamburger-nav a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin-bottom: 50px;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
  }

  .header-wrapper .logo {
    position: relative;
    margin-left: 5px;
    width: 60%;
  }

  .header-wrapper .navigation {
    display: none;
  }

  .navigation a {
    font-size: 11px;
  }

  /*HERO*/

  .hero-wrapper {
    flex-direction: column;
    height: 100svh;
  }

  .hero-wrapper .hero-right {
    width: 90vw;
    height: 30vh;
  }

  .hero-wrapper .hero-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 50vh;
    margin-top: 10vh;
    width: 100vw;
    margin-left: 0;
  }

  .hero-wrapper .hero-title h1 {
    color: white;
    font-size: 30px;
    margin: 0;
    padding-bottom: 30px;
  }

  .hero-wrapper .hero-title p {
    color: white;
    margin: 0;
    margin-bottom: 20px;
  }

  .hero-wrapper .hero-title .button-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  /* Landing Catalogue */

  .catalogue-wrapper .catalogue-container {
    background-image: url("../../public/images/backshape2.png");
    height: calc(90vw * 1180 / 800);
    flex-direction: column;
  }

  .catalogue-wrapper .catalogue-container .row {
    height: calc(90vw * 1180 / 80);
  }

  .catalogue-wrapper .catalogue-container .row.one {
    width: 90vw;
  }
  .catalogue-wrapper .catalogue-container .row.two {
    width: 90vw;
  }
  .catalogue-wrapper .catalogue-container .row.three {
    width: 90vw;
  }

  .car-image-container {
    width: 70%;
    position: relative;
  }

  .row.one .car-image-container.one {
    top: 0;
    width: 80%;
  }
  .row.two .car-image-container.two {
    top: 0;
  }
  .row.three .car-image-container.three {
    bottom: 0;
  }

  .catalogue-container .car-text.one {
    left: 4%;
    bottom: 3%;
    top: auto;
  }

  .catalogue-container .car-text.two {
    left: 4%;
    bottom: 1%;
    top: auto;
  }

  .catalogue-container .car-text.three {
    left: 4%;
    bottom: -4%;
    top: auto;
  }

  /*ABOUT US*/

  .aboutus-wrapper {
    background-image: url("../../public/images/must2.png");
    width: 100vw;
    height: calc(100vw * 1280 / 800);
    flex-direction: column;
  }

  .aboutus-wrapper .right-side-text {
    width: 95vw;
    height: 70%;
    flex-direction: column;
    margin-right: 0;
  }

  .aboutus-wrapper .right-side-text h1 {
    font-size: 30px;
    margin: 0;
  }

  .aboutus-wrapper .right-side-text h3 {
    margin: 0;
  }

  /*FOOTER*/

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 4px);
    height: 100vh;
    background-color: rgb(25, 25, 25);
    flex-direction: column;
    border: 2px solid rgba(99, 99, 99, 0.4);
  }

  .footer-wrapper .footer-col {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    padding-left: 0;
    height: 20%;
  }

  .footer-wrapper .footer-col .col-mid-section {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(213, 213, 213);
    text-transform: uppercase;
    padding-top: 0vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer-wrapper .footer-col .col-mid-section li {
    padding-top: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    margin-left: 20px;
  }

  .footer-wrapper .footer-col .col-mid-section li:hover {
    padding-left: 0;
  }

  .footer-wrapper .footer-col h3 {
    color: grey;
    padding-top: 0;
    margin: 0;
    margin-left: 10px;
  }

  .footer-wrapper .footer-col.one {
    width: 100%;
    border-right: 2px solid rgba(99, 99, 99, 0.4);
    color: white;
    align-items: flex-start;
    height: 40%;
  }
  .footer-wrapper .footer-col.two {
    display: none;
  }
  .footer-wrapper .footer-col.three {
    width: 100%;
    height: 10%;
  }
  .footer-wrapper .footer-col.four {
    width: 100%;
    height: 50%;
  }

  .footer-wrapper .footer-col.one .footer-image-container {
    width: 20%;
    height: 40%;
    margin-top: 15px;
    margin-left: 10px;
  }
  .footer-image-container img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }

  .footer-wrapper .footer-col.one h5 {
    width: 90%;
    color: rgb(156, 156, 156);
    margin: 0;
    margin-left: 10px;
  }

  .leaflet-container.leaflet-touch.leaflet-retina.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 10px;
  }
}
