body {
  background-color: black;
  overflow-x: hidden;
  margin: 0;
}

/* SCROLLBAR */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d8cdc0;
}

::-webkit-scrollbar {
  z-index: 9999;
  width: 6px;
  height: 6px;
  background-color: #d8cdc0;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/* HEADER */

.header-wrapper {
  z-index: 999;
  width: 100%;
  height: 10vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vh;
}

.header-wrapper .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}

.header-wrapper .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 40%;
  margin-right: 2vw;
}

.navigation a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: Helvetica;
}

/*LANDING PAGE*/

.landing-wrapper {
  position: relative;
  height: 200vh;
  background-color: black;
  width: 100vw;
}

/* HERO */

.hero-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("../../public/images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-wrapper .car-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8%;
  right: 3%;
}

.hero-wrapper .hero-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 45vw;
  margin-left: 40px;
}

.hero-wrapper .hero-title h1 {
  color: white;
  font-size: 55px;
  font-family: Helvetica;
  margin: 0;
  margin-bottom: 20px;
}

.hero-wrapper .hero-title p {
  color: white;
  margin: 0;
  margin-bottom: 20px;
  font-family: Helvetica;
}

.hero-wrapper .hero-title .button-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.hero-wrapper .button-wrapper a {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  border-radius: 50px;
  font-family: Helvetica;
}

.hero-wrapper .button-wrapper a:nth-child(1) {
  color: white;
  background-color: #ec3f2e;
  margin-right: 30px;
}

.hero-wrapper .button-wrapper a:nth-child(2) {
  color: black;
  background-color: white;
}

/* Landing Catalogue */

.landing-wrapper .catalogue-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.catalogue-wrapper .catalogue-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../public/images/backshape.png");
  width: 90vw;
  height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.catalogue-container .car {
  position: absolute;
}

.catalogue-container .car.one {
  left: -2%;
  top: 18%;
}

.catalogue-container .car.two {
  left: 28%;
  top: 20%;
}

.catalogue-container .car.three {
  right: -2%;
  bottom: 13%;
}

.catalogue-container .car-text {
  position: absolute;
  font-family: Helvetica;
  font-size: 20px;
}

.catalogue-container .car-text.one {
  left: 2%;
  top: 13%;
}

.catalogue-container .car-text.two {
  left: 2%;
  bottom: 13%;
  color: white;
}

.catalogue-container .car-text.three {
  right: 19%;
  top: 13%;
}

.catalogue-container .arrow {
  position: absolute;
  font-family: Helvetica;
  font-size: 20px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.catalogue-container .arrow:hover {
    transform: scale(1.1);
}

.catalogue-container .arrow.one {
  left: 20%;
  top: 15%;
}

.catalogue-container .arrow.two {
  right: 27%;
  top: 15%;
  color: white;
}

.catalogue-container .arrow.three {
  right: 1%;
  top: 15%;
}
