:root {
  --red-col: #ef3f25;
  --red-col-disabled: #ab2f1c;
}

@font-face {
  font-family: "Noir";
  src: url("NoirPro-Regular.otf");
}
@font-face {
  font-family: "Noir Bold";
  src: url("NoirPro-Bold.otf");
}

body {
  background-color: black;
  overflow-x: hidden;
  margin: 0;
  user-select: none;
  font-family: Noir;
}
html {
  overflow-x: hidden;
}

/* SCROLLBAR */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d8cdc0;
}

::-webkit-scrollbar {
  z-index: 9999;
  width: 6px;
  height: 6px;
  background-color: #d8cdc0;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/*BUTTON */
.magic-button {
  height: 40px;
  border: none;
  border-radius: 80px;
  display: inline-flex; /* Use inline-flex to size according to content */
  justify-content: flex-end;
  align-items: center;

  cursor: pointer;
  transition: 0.3s ease-in-out;
  padding-left: 20px;
}

.magic-button:hover {
  transform: scale(1.1);
}

.magic-button.red {
  background-color: var(--red-col);
  color: white;
}

.magic-button.white {
  background-color: #d8d8d8;
  color: black;
  margin-left: 20px;
}

.magic-button img {
  margin-left: 20px;
}

/* HEADER */

.header-wrapper {
  z-index: 999;
  width: 100%;
  height: 10vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vh;
}

.header-wrapper .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  margin-left: 20px;
  position: relative;
}

.logo img {
  cursor: pointer;
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.header-wrapper .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 35%;
  margin-right: 2vw;
}

.header-wrapper .hamburger-menu {
  display: none;
}

.navigation a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.navigation a:hover {
  color: var(--red-col);
}

/*Footer*/

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60vh;
  background-color: rgb(25, 25, 25);
  flex-direction: row;
  border: 2px solid rgba(99, 99, 99, 0.4);
}

.footer-wrapper .footer-col {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  flex-direction: column;
  padding-left: 30px;
}

.footer-wrapper .footer-col .col-mid-section {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: rgb(213, 213, 213);
  text-transform: uppercase;
  padding-top: 10vh;
}

.footer-wrapper .footer-col .col-mid-section li {
  padding-top: 20px;
}

.footer-wrapper .footer-col .col-mid-section li svg {
  margin-right: 40px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.footer-wrapper .footer-col .col-mid-section li svg:hover {
  transform: scale(1.3);
}

.footer-wrapper .footer-col h2 {
  color: grey;
  padding-top: 20px;
  font-size: 20px;
}

.footer-wrapper .footer-col.one {
  width: 25%;
  border-right: 2px solid rgba(99, 99, 99, 0.4);
  color: white;
  align-items: flex-start;
}
.footer-wrapper .footer-col.two {
  width: 20%;
}
.footer-wrapper .footer-col.three {
  width: 20%;
}
.footer-wrapper .footer-col.four {
  width: 35%;
}

.footer-wrapper .footer-col.one .footer-image-container {
  width: 60%;
  margin-top: 15px;
  position: relative;
}
.footer-image-container img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.footer-wrapper .footer-col.one p {
  width: 90%;
  color: rgb(156, 156, 156);
}

/*FOOTER*/
.leaflet-container.leaflet-touch.leaflet-retina.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
  height: 60vh;
  width: 60vh;
}

.cardInfo {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 15vh;
  width: 60vw;
  color: white;
  opacity: 0;
  transition: 0.5s ease-in-out;
  bottom: -90px;
}

.cardInfo.selected {
  opacity: 1;
  bottom: 0;
}

@media (max-width: 768px) {
  /*HEADER*/

  .header-wrapper {
    padding-top: 0;
    height: 15vh;
  }

  .header-wrapper .hamburger-menu {
    display: flex;
  }

  .hamburger-menu .hamburger-icon {
    display: flex;
    z-index: 150;
    margin-right: 20px;
  }

  .hamburger-menu .hamburger-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100svh;
    position: absolute;
    left: -100vw;
    top: 0;
    background-color: black;
    transition: 0.5s ease-in-out;
    z-index: 100;
  }

  .hamburger-menu .hamburger-nav.active {
    left: 0;
  }

  .hamburger-menu .hamburger-nav a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin-bottom: 50px;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
  }

  .header-wrapper .logo {
    position: relative;
    margin-left: 5px;
    width: 60%;
  }

  .header-wrapper .navigation {
    display: none;
  }

  .navigation a {
    font-size: 11px;
  }

  /*FOOTER*/

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 4px);
    height: 100vh;
    background-color: rgb(25, 25, 25);
    flex-direction: column;
    border: 2px solid rgba(99, 99, 99, 0.4);
  }

  .footer-wrapper .footer-col {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    padding-left: 0;
    height: 20%;
  }

  .footer-wrapper .footer-col .col-mid-section {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(213, 213, 213);
    text-transform: uppercase;
    padding-top: 0vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer-wrapper .footer-col .col-mid-section li {
    padding-top: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    margin-left: 20px;
  }

  .footer-wrapper .footer-col .col-mid-section li:hover {
    padding-left: 0;
  }

  .footer-wrapper .footer-col h3 {
    color: grey;
    padding-top: 0;
    margin: 0;
    margin-left: 10px;
  }

  .footer-wrapper .footer-col.one {
    width: 100%;
    border-right: 2px solid rgba(99, 99, 99, 0.4);
    color: white;
    align-items: flex-start;
    height: 25%;
  }

  .footer-wrapper .footer-col.one p{
    margin-left: 10px;
  }

  .footer-wrapper .footer-col.two {
    width: 100%;
    height: 10%;
  }
  .footer-wrapper .footer-col.three {
    width: 100%;
    height: 12%;
  }
  .footer-wrapper .footer-col.four {
    width: 100%;
    height: 50%;
  }
  .footer-wrapper .footer-col h2 {
    margin: 0;
    margin-left: 10px;
  }

  .footer-wrapper .footer-col.one .footer-image-container {
    width: 20%;
    height: 40%;
    margin-top: 15px;
    margin-left: 10px;
  }
  .footer-image-container img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }

  .footer-wrapper .footer-col.one h5 {
    width: 90%;
    color: rgb(156, 156, 156);
    margin: 0;
    margin-left: 10px;
  }

  .leaflet-container.leaflet-touch.leaflet-retina.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 10px;
  }



  .cardInfo {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 15vh;
    width: 90vw;
    color: white;
    opacity: 0;
    transition: 0.5s ease-in-out;
    bottom: -90px;
  }
  
  .cardInfo.selected {
    opacity: 1;
    bottom: 0;
  }
}
